<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @provider.city %>
</p>

<p>
  <b>Street:</b>
  <%= @provider.street %>
</p>

<p>
  <b>Number:</b>
  <%= @provider.number %>
</p>

<p>
  <b>Nation:</b>
  <%= @provider.nation %>
</p>

<p>
  <b>Phone:</b>
  <%= @provider.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @provider.email %>
</p>

<div class="button-group">
	<%= link_to 'Edit', edit_provider_path(@provider), :class => "button primary"%>
	<%= link_to 'Back', providers_path, :class => "button danger"%>
</div>
