<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @provider.city %>
</p>

<p>
  <b>Street:</b>
  <%= @provider.street %>
</p>

<p>
  <b>Number:</b>
  <%= @provider.number %>
</p>

<p>
  <b>Nation:</b>
  <%= @provider.nation %>
</p>

<p>
  <b>Phone:</b>
  <%= @provider.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @provider.email %>
</p>


<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
