<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<ul>
	<li><%= link_to "All accounts", accounts_path %></li>
</ul>


<h1>Registered accounts</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Account</th>
    <th>User</th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.desc %></td>
    <td><%= account.account %></td>

    <td><%= User.find(account.user_id).username %></td>
    <td>
	<div class="button-group">
		<%= link_to 'Show', account_path(account), :class => "button primary icon search" %>
		<%= link_to 'Edit', edit_account_path(account), :class => "button icon edit"%>
		<%= link_to 'Un-Register', unregister_account_path(account), method: :post, :class => "button icon remove" %>
		<%= link_to 'Destroy', account_path(account), confirm: 'Are you sure?', method: :delete, :class => "button danger icon trash" %>
	</div>
	</td>
  </tr>
<% end %>
</table>

<br />