<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="clearfix">
    <%= label_tag :username %>
	<div class="input">
		<%= text_field_tag :username, params[:username], :class => "input-xlarge" %>
	</div>
  </div>
  
  
    <div class="clearfix">
    <%= label_tag :password %>
	<div class="input">
		<%= password_field_tag :password,nil, :class => "input-xlarge" %>
	</div>
  </div>
  
 
  <div class="actions"><%= submit_tag "Log in", :class => "btn success" %></div>
<% end %>