<h1>Listing offices</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Number</th>
    <th>Building</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= office.desc %></td>
    <td><%= office.number %></td>
    <td><%= office.building != nil ? office.building.desc: "" %></td>
    <td>
	<div class="button-group">
		<%= link_to 'Show', building_office_path(office.building, office), :class => "button primary" %>
		<%= link_to 'Edit', edit_building_office_path(office.building, office),:class => "button icon edit" %>
		<%= link_to 'Destroy', building_office_path(office.building, office), confirm: 'Are you sure?', method: :delete,:class => "button danger icon trash" %>
	</div>
	</td>
  </tr>
<% end %>
</table>

<br />
<div class="input">
	<%= link_to 'New Office', new_building_office_path,:class => "button primary icon add" %>
</div>
