
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="fill">
        <div class="container">
         <h3><%= link_to "Ammortamenti", "#" %></h3>

          <ul>
			<li class="active"><%= link_to "Test",tests_path %></li>
			<li class="active"><%= link_to "Buildings",buildings_path %></li>
			<li class="active"><%= link_to "Categories",categories_path %></li>
			<li class="active"><%= link_to "Providers",providers_path %></li>
			<li class="acrive"><%= link_to "Logout", logout_path %>
		  </ul>
		
          <ul class="nav secondary-nav">
            <li class="menu">
              <a href="#" class="menu">Dropdown</a>
              <ul class="menu-dropdown">

             
                <li class="divider"></li>
				<li><%= link_to "Logout", logout_path %></li>
              </ul>
            </li>
          </ul>

        </div>
      </div><!-- /fill -->
    </div><!-- /topbar -->
  </div><!-- /topbar-wrapper -->
