<h1>Listing buildings</h1>

<table class="boot">
  <tr>
	<th></th>
    <th>Description</th>
	<th>City</th>
    <th>Street</th>
    <th>Number</th>
    <th>Nation</th>
	<th></th>
  </tr>

<% @buildings.each do |building| %>
  <tr>
	<td>
		<span class="propriety_building_line button icon approve" id="<%= building.id %>" ></span>
	</td>
    <td><%= building.desc %></td>
	<td><%= building.city %></td>
    <td><%= building.street %></td>
    <td><%= building.number %></td>
    <td><%= building.nation %></td>
    <td>
	<div style='text-align:right;'>
	<div class="button-group">
		<%= link_to 'Show', building , :class => "button primary icon search" %>
		<%= link_to 'Edit', edit_building_path(building), :class => "button icon edit"  %>
		<%= link_to 'Destroy', building, confirm: 'Are you sure?', method: :delete, :class => "button danger icon trash"  %>
	</div>
	</div>
	</td>
	<tr class="propriety_building" id="details-<%= building.id %>">
		<td colspan='7'>
			<ul>
			<% building.offices.each do |office| %>
			<li><%= office.desc %></li>
			<% end %>
			</ul>
		</td>
	</tr>
  </tr>
  <% end %>
</table>

<br />

<div class="button primary icon add" id="new_building_button"> New building </div>
<br /><br />
<%= form_for(@building) do |f| %>
  <h3>New building details:</h3><br />
  <div class="clearfix">
    <%= f.label :city %>
	<div class="input">
		<%= f.text_field :city %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :street %>
	<div class="input">
		<%= f.text_field :street %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :number %>
	<div class="input">
		<%= f.text_field :number %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :nation %>
	<div class="input">
		<%= f.text_field :nation %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :desc %>
	<div class="input">
		<%= f.text_field :desc %>
	</div>
  </div>
  <div class="input">
    <%= f.submit :class => "button primary"  %>
  </div>
<% end %>
