<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @building.city %>
</p>

<p>
  <b>Street:</b>
  <%= @building.street %>
</p>

<p>
  <b>Number:</b>
  <%= @building.number %>
</p>

<p>
  <b>Nation:</b>
  <%= @building.nation %>
</p>

<p>
  <b>Desc:</b>
  <%= @building.desc %>
</p>

<%= form_for([@building.offices.build]) do |f| %>


  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  
  <%= hidden_field_tag 'office[building_id]', @building.id %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<table>
  <tr>
    <th>Desc</th>
    <th>Number</th>

    <th></th>
	<th></th>
	<th></th>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= office.desc %></td>
    <td><%= office.number %></td>
    
    <td><%= link_to 'Show', office %></td>
	<td><%= link_to 'Edit', edit_office_path(office) %></td>
	<td><%= link_to 'Destroy', office, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
