<p id="notice"><%= notice %></p>
<h2>Details building:</h2>
<br />

<p>
  <b>Description:</b>
  <%= @building.desc %>
</p>

<p>
  <b>City:</b>
  <%= @building.city %>
</p>

<p>
  <b>Street:</b>
  <%= @building.street %>
</p>

<p>
  <b>Number:</b>
  <%= @building.number %>
</p>

<p>
  <b>Nation:</b>
  <%= @building.nation %>
</p>


<br />

<div class="button-group">
	<%= link_to 'Edit', edit_building_path(@building), :class => "button"  %>
	<%= link_to 'Back', buildings_path, :class => "button danger" %>
</div>

<br />
<br />

<h3>Add an office in <%= @building.street %> <%= @building.number %></h3>
<br />

<%= form_for([@building,@building.offices.build]) do |f| %>


  <div class="clearfix">
    <%= f.label :desc %>
	<div class="input">
		<%= f.text_field :desc %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :number %>
	<div class="input">
		<%= f.text_field :number %>
	</div>
  </div>
  
  <br />
  
  <div class="input">
    <%= f.submit :class => "button primary" %>
  </div>
<% end %>
<br />
<h3> Offices list: </h3>

<table class="boot">
  <tr>
    <th>Description</th>
    <th>Number</th>
    <th></th>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= office.desc %></td>
    <td><%= office.number %></td>
    
    <td>
	<div style='text-align:right;'>
	<div class="button-group">
		<%= link_to 'Show', building_office_path(@building,office), :class => "button primary"  %>
		<%= link_to 'Edit', edit_building_office_path(@building,office), :class => "button"  %>
		<%= link_to 'Destroy', building_office_path(@building,office), confirm: 'Are you sure?', method: :delete, :class => "button danger"  %>
	</div>
	</div>
	</td>
  </tr>
<% end %>
</table>