<h1>Listing payments</h1>

<table class="boot">
  <tr>
    <th>Amount</th>
    <th>Desc</th>
    <th>Status</th>
    <th>Document</th>
    <th>Account</th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.amount %></td>
    <td><%= payment.desc %></td>
    <td><%= payment.status %></td>
    <td><%= payment.document %></td>
    <td><%= payment.account %></td>
	<td>
	<div style='text-align:right;'>
	<div class="button-group">
    <%= link_to 'Show', payment, :class => "button primary icon search" %></td>
    <%= link_to 'Edit', edit_payment_path(payment), :class => "button icon edit" %></td>
    <%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete, :class => "button danger icon trash" %>
	</div>
	</div>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
