<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @item.number %>
</p>

<p>
  <b>Document:</b>
  <%= @item.document %>
</p>

<p>
  <b>Payment:</b>
  <%= @item.payment %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Provider:</b>
  <%= @item.provider %>
</p>

<p>
  <b>Office:</b>
  <%= @item.office %>
</p>

<div class="button-group">
	<%= link_to 'Edit', edit_item_path(@item), :class => "button primary" %>
	<%= link_to 'Back', items_path, :class => "button danger" %>
</div>