<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :desc %>
	<div class="input">
		<%= f.text_field :desc %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :unit_price %>
	<div class="input">
		<%= f.text_field :unit_price %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :sn %>
	<div class="input">
		<%= f.text_field :sn %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :image %>
	<div class="input">
		<%= f.text_field :image %>
	</div>
  </div>
  
  <div class="clearfix">
    <%= f.label :tags %>
	<div class="input">
		<%= text_field_tag "category[tag_list]" %>
	</div>
  </div>
  
  <div>
    <%= f.submit :class => "btn success"  %>
  </div>
<% end %>
