<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @category.desc %>
</p>

<p>
  <b>Unit price:</b>
  <%= @category.unit_price %>
</p>

<p>
  <b>Serial number:</b>
  <%= @category.sn %>
</p>

<p>
  <b>Image:</b>
  <%= @category.image %>
</p>

<div class="button-group">
	<%= link_to 'Edit', edit_category_path(@category), :class => "button primary"  %>
	<%= link_to 'Back', categories_path, :class => "button danger"  %>
</div>