<h1>Listing tests</h1>

<table class="boot">
  <tr>
    <th>Test</th>
    <th></th>
  </tr>

<% @tests.each do |test| %>
  <tr>
    <td><%= test.test %></td>
    <td>
	<div style='text-align:right;'>
	<div class="button-group">
	<%= link_to 'Show', test, :class => "button primary icon search"  %>
    <%= link_to 'Edit', edit_test_path(test), :class => "button icon edit"  %>
    <%= link_to 'Destroy', test, confirm: 'Are you sure?', method: :delete , :class => "button danger icon trash" %>
	</div>
	</div>
	</td>
	
  </tr>
<% end %>
</table>

<br />

<div class="input">
<%= link_to 'New Test', new_test_path, :class => "button primary icon add"  %>
</div>
