<h1>Listing tests</h1>

<table>
  <tr>
    <th>Test</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tests.each do |test| %>
  <tr>
    <td><%= test.test %></td>
    <td><%= link_to 'Show', test, :class => "btn info"  %></td>
    <td><%= link_to 'Edit', edit_test_path(test), :class => "btn"  %></td>
    <td><%= link_to 'Destroy', test, confirm: 'Are you sure?', method: :delete , :class => "btn danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test', new_test_path, :class => "btn success"  %>
