<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @account.desc %>
</p>

<p>
  <b>Account:</b>
  <%= @account.account %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@account.user_id).username %>
</p>

<div class="button-group">
	<%= link_to 'Edit', edit_account_path(@account), :class => "button primary" %>
	<%= link_to 'Back', dashboard_path, :class => "button danger" %>
</div>