<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @account.desc %>
</p>

<p>
  <b>Account:</b>
  <%= @account.account %>
</p>

<p>
  <b>User:</b>
  <%= @account.user.username %>
</p>


<%= link_to 'Edit', edit_user_account_path(@account.user,@account) %> |
<%= link_to 'Back', user_accounts_path(@account.user) %>
