<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @account.desc %>
</p>

<p>
  <b>Account:</b>
  <%= @account.account %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@account.user_id).username %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', dashboard_path %>
